.login-root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--BGColor1);
  transition: 1s ease;
}

.login-root .text-trans-upp{
  text-transform: uppercase;
}

.form-login-div{
  display: flex;
  flex-direction: column;
  height: 330px;
  height: fit-content;
  min-width: 400px;
  max-width: 400px;
  padding: 10px;
  box-shadow: var(--BoxShadow1);
  border: var(--Border1);
  background-color: var(--BGColor2);
}

.form-login-div .input-div-icon{
  border-right: var(--Border1);
}

.show-pass-div {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.form-login-div-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-pass-div input[type="checkbox"] {
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: var(--Border1, 2px solid #000);
  cursor: pointer;
}

.show-pass-div input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 6px;
  width: 6px;
  height: 12px;
  border: solid var(--FontColor10);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.show-pass-div label {
  cursor: pointer;
}

.sign-link{
  color: var(--FontColor10);
  cursor: pointer;
}


.error-message-div{
  display: flex;
  align-items: center;
  gap: 5px;
  animation-name: error-message-div;
  animation-duration: 1s;
  min-height: 24px;
  max-height: 24px;
  overflow: hidden;
  margin: 10px 0;
}

.error-message-div-child{
  display: none;
  align-items: center;
  gap: 5px;
  animation-name: error-message-div-child;
  animation-duration: 1s;
  min-height: 24px;
  max-height: 24px;
  overflow: hidden;
}

@keyframes error-message-div-child {
  0%{
    margin-top: 100px;
  }
}


.student-name-div{
  display: flex;
  gap: 10px;
}

.student-first-name-div .input-label{
  left: 5px;
}