.student-root{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: var(--BGColor1);
  transition: 1s ease;
  overflow: auto;
}


.header-root{
  min-height: 150px;
  max-height: 150px;
  background-color: var(--BGColor2);
  background-image: url("./Images/EACMC_BG1.png");
  background-position: 0px -160px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-overlay{
  height: 100%;
  width: 100%;
  background-color: var(--Overlay1);
  transition: background-color 2s ease;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.header-profile-img{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: var(--Border1);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}


.header-div1{
  border: var(--Border1);
  padding: 10px;
  border-radius: 5px;
  background-color: #6f6f6f7a;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-div1 .student-details h2,
.header-div1 .student-details h4,
.header-div1 .student-details p{
  color: #a9a9a9;
}

.header-div2{
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  gap: 10px;
}

.header-div2 ul{
  display: flex;
  gap: 5px;
}

.header-div2 ul li{
  display: flex;
  justify-content: center;
  padding: 3px;
  height: fit-content;
  min-width: 100px;
  cursor: pointer;
  border: var(--Border1);
  background-color: #6f6f6f7a;
}

.header-div2 ul li p{
  color: #a9a9a9;
}

.main-root{
  height: 100%;
  width: 100%;
  background-color: var(--BGColor1);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px black;
  overflow: auto ;
}

.main-root-flex{
  display: flex;
  width: 100%;
  height: 100%;
}


.main-child-1{
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 100%;
  width: 100%;
}

.tables-navigation{
  display: flex;
  justify-content: space-between;
  background-color: var(--BGColor2);
}

.tables-navigation-left{
  padding: 3px;
}

.tables-navigation-left .search-div{
  display: flex;
  border: var(--Border1);
}
.tables-navigation-left .search-icon{
  display: flex;
  align-items: center;
  padding: 0 5px;
  justify-content: center;
  background-color: var(--BGColor1);
  border-left: var(--Border1);
}

.tables-navigation-left .search-icon svg{
  fill: var(--SVGFill1);
}

.ul-navigation ul{
  display: flex;
}



.ul-navigation ul li{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  min-width: 120px;
  padding: 0 20px;
  border-left: var(--Border1);
  cursor: pointer;
  background-color: var(--BGColor1);
}

.active-li{
  border-bottom: none;
}
  
.inactive-li{
  border-bottom: var(--Border1);
  opacity: .5;
  border-bottom: var(--Border1);
}

.table-container{
  height: 100%;
}

.table-container .table-2{
  height: 100%;
  display: none;
  flex-direction: column;
  /* justify-content: space-between; */
}

.table-2-div{
  height: 100%;
  overflow: auto;
  background-color: var(--BGColor2);
}

/* .table-container .table-2 table{
  height: 100%;
} */

.table-2-stats{
  min-height: 230px;
  max-height: 230px;
  width: 100%;
  box-shadow: var(--BoxShadow2);
  border-top: var(--Border1);
  padding: 10px;
  animation-name: table-2-stats;
  animation-duration: 1.4s;
  /* transition: height 1.5s ease; */
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
@keyframes table-2-stats {
  0%{
    min-height: 20px;
    max-height: 20px;
    padding: 0px 10px;
  }
}

.table-2-statsDiv{
  border: var(--Border1);
  padding: 0 2px 2px 2px;
  overflow: hidden;
}

.tbody-2-stats th,
.tbody-2-stats td{
  border: var(--Border1);
}

.tbody-2-stats{
  overflow: auto;
}


.main-child-2{
  height: 100%;
  min-width: 400px;
  max-width: 400px;
  border-left: var(--Border1);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
}



.stats-div{
  padding: 5px;
}

.stats-div ul{
  display: flex;
  flex-direction: column;
  gap: 5px;

}
.stats-div ul li{
  display: flex;
  align-items: center;
}
.stats-div ul li i{
  min-width: 140px;
}


.add-attendance-container{
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: end;
  justify-content: end;
  height: 100%;
  border-top: var(--Border1);
  background-color: var(--BGColor1);
}

.add-attendance-container .button-div{
  display: flex;
  gap: 10px;
  padding: 10px;
  width: 100%;
  box-shadow: var(--BoxShadow2);
  background-color: var(--BGColor1);
  z-index: 2;
}

.button-div button{
  transition: 1s ease;
  text-align: center;
}

.btnSaveAttendance{
  display: none;
}


.addHidden-container{
  display: flex;
  flex-direction: column;
  height: 0px;
  width: 100%;
  overflow: auto;
  /* opacity: 0; */
  transition: opacity 10s ease;
  transition: height 1s ease;
  background-color: var(--BGColor1);
  z-index: 1;
}


.addHidden-container ul{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.addHidden-container ul li{
  display: flex;
  align-items: center;
}

.addHidden-container ul li i{
  min-width: 110px;
}

.addHidden-container input{
  width: 100%;
  padding: 5px;
  border: var(--Border1);
  background-color: var(--BGColor2);
}

.remarks-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 10px;
}

.remarks-div{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 5px;
  border: var(--Border1);
  background-color: var(--BGColor2);
}

.remarks-div textarea{
  all: unset;
  height: 100%;
  border: var(--Border1);
  padding: 5px;
}

.remarks-div p{
  text-align: justify;
}


.add-attendance-container .overlay-div{
  position: absolute;
  width: 400px;
  height: 200px;
  top: 160px;
  z-index: 0;
  opacity: .7;
}

.add-attendance-container .overlay-div img{
  width: 400px;
}


tbody i{
  font-size: 13px;
  /* text-align: left; */
}
.td-flex-parent{
  text-align: center;
  display: flex;
  justify-content: center;
}

.td-flex-child{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  min-width: 170px;
}

.td-flex-child i{
  display: flex;
  align-items: center ;
}

.td-flex-child i svg{
  margin-left: -5px;
}

/* tbody tr td:first-child{
  text-align: left;
} */

.tr-attendance li{
  display: flex;
  align-items: center;
}

.tr-attendance li i{
  min-width: 70px;
  text-align: left;
}

.tr-attendance svg{
  height: 18px;
}

.tr-attendance button{  
  max-width: 30px;
  min-width: 30px;
}



.modal-container{
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: #00000075;
  bottom: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
  display: none;
}


.modal-content{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content-header{
  min-height: 140px;
  max-height: 140px;
  position: relative;
}
.content-header .content-header{
  display: flex;
  height: 100%;
  width: 100%;
  background-color: yellow;
}

.content-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--BGColor2);
  z-index: 2;
  box-shadow: 0 0 150px 5px black;
  animation-name: content-container;
  border-top: var(--Border1);
  animation-duration: .8s;
  padding: 10px;
  position: relative;
}
@keyframes content-container {
  0%{
    margin-top: 200px;
  }
}

.hide-modal{
  height: 38px;
  width: 48px;
  position: absolute;
  right: 10px;
  border-radius: 5px 5px 0 0;
  top: -38px;
  background-color: var(--BGColor2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--Border1);
  border-bottom: none;
}

.hide-modal svg{
  fill: var(--SVGFill1);
  filter: drop-shadow(1px 1px 1px #00000000);
  height: 50px;
}